$font-stack: Helvetica, sans-serif;
$panel-gray-dark: #3b3f42;
$panel-gray-08: #626262;
$panel-gray: #d0d0d0;
$panel-gray-light: #eaeaea;
$panel-gray-lighter: #f4f4f4;

$accent-pink: #FC5185;
$accent-cyan: #44DDE6;
$accent-yellow: #FFDB27;

.panel-container {
   background: $panel-gray;
}

.panel-toparea-container {
   height: 155px;
   font-size: 10px;
   font-weight: 700;
}

.panel-toparea {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: $panel-gray-lighter;
   padding-top: 28px;
}

.panel-options {
   // height: 46px;
   // width: 292px;
   // background: $panel-gray-dark 0% 0% no-repeat padding-box;
   // border-radius: 23px;
   // opacity: 1;

   display: flex;
   align-items: center;
}

.panelbutton {

   display: flex;
   align-items: center;
   cursor: pointer;

   &.home {
      width: 92px;
      height: 46px;
      background: #3B3F42 0% 0% no-repeat padding-box;
      border-radius: 23px 0px 0px 23px;
      opacity: 1;

      padding-left: 15px;

      &:hover {
         background: $panel-gray-08;
         opacity: .9;
         scale: 1;
      }
   }

   &.settings {
      width: 92px;
      height: 46px;
      background: #3B3F42 0% 0% no-repeat padding-box;
      opacity: 1;
      padding-left: 60px;
      margin-left: -45px;

      &:hover {
         background: $panel-gray-08;
         opacity: .9;
      }
   }

   &.download {
      width: 108px;
      height: 46px;
      background: #3B3F42 0% 0% no-repeat padding-box;
      border-radius: 0px 23px 23px 0px;
      opacity: 1;
      padding-left: 16px;
      
      &:hover {
         background: $panel-gray-08;
         opacity: .9
      }

      & > div {
         display: flex;
         align-items: center;
      }

      & > div span {
         padding-left: 10px;
      }
   }
}

.panel-logo-container {
   width: 90px;
   height: 90px;
   background: $panel-gray-lighter 0% 0% no-repeat padding-box;
   border: 6px solid $panel-gray-dark;
   border-radius: 50%;
   opacity: 1;
   padding: 12px;
   margin-left: -45px;
   z-index: 1;

   img {
      width: 100%;
   }
}

.panel-projectname {
   float: right;
   margin-right: 40px;
   margin-top: 0px;
   font-weight: 700;

   input {
      width: 120px;
      border: 1px dashed $panel-gray;
      background: $panel-gray-light;
      margin-left: 5px;
      padding: 5px;

      &:focus {
         background: #fff;
      }
   }
}

.panel-tab {
   background: $panel-gray;
   cursor: pointer;
   border-left: 5px solid $panel-gray-dark;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 12px;
   font-weight: 700;
   height: 45px;
   width: 340px;

   .panel-tab-info {
      display: flex;
      align-items: center;

      .panel-icon {
         margin-left: 20px;
         margin-right: 20px;
      }
   }

   .panel-tab-arrow {
      height: 45px;
      width: 45px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover img {
         rotate: 90deg;
      }
   }
}

.panel-tab-active {
   background: $panel-gray-light
}

.tab-content {
   background: $panel-gray-lighter;
   padding:  10px 20px;
   width: 340px;
}

.tab-content-subcontainer {
   display: flex;
   justify-content: space-around;
   margin-bottom: 10px;
}

.tab-content-button {
   width: 112px;
   height: 25px;
   background: #F4F4F4 0% 0% no-repeat padding-box;
   box-shadow: 0px 0px 10px $panel-gray;
   border-radius: 13px;
   opacity: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   font: Bold 12px/15px Helvetica Neue;
   cursor: pointer;

   &:hover {
      background: $accent-pink;

   }
}

.tab-content-button-active {
   background: $accent-pink;
}

.tab-content-photos {
   position: relative;
   height: 90px;
   overflow-y: hidden;
   display: flex;
   flex-wrap: nowrap;
   padding-bottom: 10px;

   .photo {
      position: relative;
      height: 100%;
      width: auto;

      img {
         position: relative;
         height: 100%;
         width: auto;
         border: 0px;
         border-radius: 5px;
         background: $panel-gray;
         cursor: pointer;
         margin-right: 5px;
      }

      &::after {
         content: '+';
         position: absolute;
         top: 65px;
         left: calc(100% - 50% - 15px);
         width: 25px;
         height: 25px;
         border-radius: 15px;
         background: $accent-cyan;
         display: flex;
         justify-content: center;
         align-items: center;
         opacity: 0;
         cursor: pointer;
         font-size: 24px;
         font-weight: 700;
         display: flex;
         justify-content: baseline;
         align-items: baseline;
         color: $panel-gray-dark;
      }

      &:hover::after {
         opacity: 1;
      }
   }

   .photo-loading {
      height: 80px;
      width: 100px;
      border: 0px;
      border-radius: 5px;
      margin-right: 5px;
   }

   .cyan {
      background: $accent-cyan;
      opacity: .7;
   }

   .pink {
      background: $accent-pink;
      opacity: .7;
   }

   .yellow {
      background: $accent-yellow;
      opacity: .7;
   }

   .graphic {
      height: 100%;
      width: auto;
      border: 0px;
      border-radius: 5px;
      background: $panel-gray-light;
      cursor: pointer;
      margin-right: 5px;
      padding: 5px;
   }
}

.text-add {
   width: 300px;
   height: 25px;
   background: #44DDE6 0% 0% no-repeat padding-box;
   border-radius: 13px;
   display: flex;
   justify-content: center;
   align-items: center;
   font: Bold 12px/15px Helvetica Neue;
   cursor: pointer;

   img {
      margin-right: 10px;
   }
}

.panel-layer {
   width: 300px;
   height: 25px;
   background: $panel-gray 0% 0% no-repeat padding-box;
   border-radius: 13px;
   display: flex;
   justify-content: center;
   align-items: center;
   font: Bold 12px/15px Helvetica Neue;
   cursor: pointer;
   margin-bottom: 3px;

   img {
      margin-right: 10px;
   }
}