.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    margin: auto;
    border: 1px black solid
}

.text-box {
    height: 300px;
    width: 500px;
    margin-left: 500px;
    border: 1px solid red;
    font-size: 300%;
    font-weight:none;
    word-wrap: break-word;
}

.bold {
    font-weight: bold;
}


.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.color-change-white {
    color: white;
}

.color-change-black {
    color: black;
}

.color-change-red {
    color: red;
}

.color-change-blue {
    color: blue;
}

.color-change-green {
    color: green;
}