nav {
  border: 1px solid springgreen;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 11vh;
  padding: 10px;
  background-color: #171544;
  color: whitesmoke;
  font-size: 2rem;
  position: fixed
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.navright{
  width: 350px;
}

.smallnavlinks {
  margin-top: 10px;
}

.loginbutton {
  background-color: #1bb76e;
  padding: 10px;
  border-radius: 8px
}

.searchnav{
  padding: 10px;
  width: 450px;
  font-size: 2rem;
  padding-left: 30px
}

.searchbtn{
  color: #171544;
  position: relative;
  left: 25px
}

.plus{
  padding-right: 5px
}