.waterfallcont{
  background-color: #171544;
  color: whitesmoke;
  margin: auto;
  text-align: center;
  font-size: 5rem;
  opacity: 0.9;
  height: 100%;
  background-image:linear-gradient(to right bottom, #6600d6, #5800d5, #4700d5, #3100d4, #0000d3);
  padding-top: 40px;
}

