

.uploadBox {
    max-width: 600px;
    margin: 0 auto;
    /* border: 1px solid black; */
} 


.dragBox {
    margin: 0 auto;
    max-width: 600px;
    padding: 150px 100px;
    font-size: 4rem;
    border: 1px dashed black;
    border-radius: 5px;
}

.dragBox:hover {
    background: #364f6b;
    filter: brightness(150%);
    opacity: 0.7;
}
