.user-projects {
    border: 3px solid #364f6b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
    align-items: center;
    background: #1F2933;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 5%;

}

.uploaded-img {
   flex: 0 0 auto;
   width: 125px;
   height: 125px;
   border: 0px solid #000;
   padding: 5px;
   margin-right: 6px;
   margin-bottom: 6px;
   border-radius: 5px;
   background: #7B8794;
   cursor: pointer;
}

.uploaded-img-title {
    width: 100%;
    color: whitesmoke;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    font-size: 115%;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 5% 0% 0% 0%;
    padding-bottom: 0%;
}

.project-delete-button {
    background-color: #fc5185;
    border: none;
    border-radius: 5px;;
    padding: 2%;
    color: whitesmoke;
    cursor: pointer;
}